[Unit]
Description=r8 ctf system

[Service]
Type=simple
ExecStart=/root/venv/bin/r8 run
WorkingDirectory=/root/r8
Restart=always

[Install]
WantedBy=multi-user.target
