[Unit]
Description=r8 ctf system
# ln -s /root/r8/misc/r8.service /etc/systemd/system/r8.service

[Service]
Type=simple
ExecStart=/root/venv/bin/r8 run
WorkingDirectory=/root
Restart=always

[Install]
WantedBy=multi-user.target
