aiohttp==3.7.4
aiohttp-jinja2==1.4.2
argon2-cffi==20.1.0
async-timeout==3.0.1
attrs==20.3.0
blinker==1.4
cffi==1.14.4
chardet==3.0.4
click==7.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
multidict==5.1.0
pycparser==2.20
six==1.15.0
texttable==1.6.3
typing-extensions==3.7.4.3
wcwidth==0.2.5
yarl==1.6.3
-e .
