.bg-blue {
    background: linear-gradient(to bottom, #345d9f 0%, #4D5CA4 100%);
}

.card-expired {
    background-color: #f0808030;
    border-color: #dc3545;
}

.card-solved {
    background-color: #55ff5522;
    border-color: #28a745;
}
