.bg-blue {
    background: linear-gradient(to bottom, #345d9f 0%, #4D5CA4 100%);
}

.card-body {
    overflow: auto;
}

.card-expired {
    background-color: #f0808030;
    border-color: #dc3545;
}

.card-solved {
    background-color: #55ff5522;
    border-color: #28a745;
}

svg {
    transition: all 1s ease-in-out;
}

#scoreboard {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    margin: 2rem 0;
    border: 0;
}

#scoretable-link {
    position: absolute;
    right: 0;
    bottom: 2rem;
}